node_modules
local
config/default.json
config/production.json

ngrok.exe

# misc
.DS_Store
.env
.env.test
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local
.vercel
client/.env.development
client/.env.production
cypress/videos
cypress/downloads