{
    "mongoURI": <MONGO_DB_URI>,
    "jwtSecret": <JWT_TOKEN>,
    "cloud_name": <CLOUDINARY_NAME>, 
    "api_key": <CLOUDINARY_API_KEY>, 
    "api_secret": <CLOUDINARY_API_SECRET>, 
    "contact_user": <SMTP_USER>,
    "contact_pwd": <SMTP_PWD>,
    "contact_to": <MAIL_TO>,
    "contact_host": <SMTP_NAME>,
    "contact_port": <SMTP_PORT>
}